body {
	margin: 0;
	margin-left: 10%;
}

.cont {
	height: 100%;
	position: relative;
	top: 8%;
	width: 100%;
}

h1 {
	color: #303037;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: lighter;
	margin: 0;
	padding: 0;
	/*position: relative;*/
}

.header {
	margin-top: 1%;
}

.header h1 {
	/*background-color: yellow;*/
	border: 5px solid rgb(240, 155, 0.7);
	border-radius: 7px;
	/*color: #303037;*/
	color: teal;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: lighter;
	margin: 0;
	padding: 7px;
	position: relative;
}

hr {
	display: inline-block;
	margin-left: 1;
}

hr:nth-of-type(1){
	margin-left: 1%;
	width: 60%;
}

hr:nth-of-type(2){
	width: 3%;
}

hr:nth-of-type(3){
	width: 3%;
}

hr:nth-of-type(4){
	width: 2%;
}

.toolbar_button {
	background-color: white;
	border: 1px solid grey;
	border-radius: 100%;
	display: inline-block;
	height: 35px;
	width: 35px;
}

.toolbar_button:hover{
	/*background: #F7F30F;*/
	/*background: rgba(253, 137, 11, 0.3);*/
	cursor: hand;
}

.toolbar_button.user_profile_button{
	background-image: url(icon_user.png);
	background-size: 35px;
	background-repeat: no-repeat;
	/*background-position: 3px 5px;*/
}

.toolbar_button.user_profile_button:hover{
	background-image: url(icon_user_hover.png);
}

.toolbar_button.map_button{
	background-image: url(compass_hover.png);
	background-size: 35px;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(0.2);
  	filter: grayscale(0.2);
	/*background-position: 2.5px;*/
}

.toolbar_button.map_button:hover {
	background-image: url(compass_active.png);
	-webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg);
}

.toolbar_button.history_button{
	margin: 0;
	padding: 0;
	background-image: url(books_icon.png);
	background-size: 35px;
	background-repeat: no-repeat;
	/*background-position: 1.5px;*/
}

.toolbar_button.history_button:hover{
	background-image: url(books_icon_hover.png);
	background-size: 35px;
	background-repeat: no-repeat;
	/*border: none;*/
	/*width: 40px;*/
	/*background-position: 1.5px;*/
}


.toolbar_icon_menu {
	display: none;
	/*background-color: rgba(124, 124, 124, 0.5);*/
	border: 1px solid #e8e8e8;
	border-radius: 15px;
	box-shadow: -2px 2px 4px rgba(0,0,0,.2);
	float: right; 
	/*color: white;*/
	padding-right: 15px;
	position: relative;
	right: 160px;
	width: 130px;
	z-index: 1;
}

.icon_menu li{
	/*color: white;*/
	font:12px/1.2 Helvetica, Arial, sans-serif;
	list-style: none;
	text-align: right;
	text-decoration: none;
	cursor: hand;
	margin-bottom: 3px;
}

.icon_menu li:hover {
	text-decoration: underline;
}