html {
	height: 100%;

}
.background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
	bottom: 0;
    opacity: 0.5;
    z-index: -1;
	background: url(background_main1.jpg) no-repeat;
	background-size: 100%;
}

h1 {
	text-align: center;
	cursor: hand;
}

.place_block {
	border: 1px solid grey;
	display: inline-block;
	height: 350px;
	margin: 10px;
	width: 300px;
}

.place_block h2 {
	text-align: center;
}

.place_block img {
	height: 55%;
	width: 300px;
}

.place_block .description_place {
	height: 2em;
	text-align: center;
	position: relative;
	bottom: 0;
}

.big_block {
	/*background-color: rgba(204, 204, 204, 0.39);*/ 
	/*background-color:rgb(107, 189, 196);*/
	border-radius: 5px;
	font-family: Andika,Times,serif;
	float: center;
	padding: 3px;
	width: 100%;
	height: 350px;

	display: table-cell;
	vertical-align: bottom;

	/*background: -webkit-linear-gradient(left, rgb(107, 189, 196), rgba(204, 204, 204, 0.39) 40%); /* For Safari 5.1 to 6.0 */*/
    /*background: -o-linear-gradient(right, blue, grey); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(right, blue, grey); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(right, rgb(107, 189, 196), rgba(204, 204, 204, 0.39) 40%); /* Standard syntax (must be last) */*/
}

.big_block>div {
	display: inline-block;
	/*height: 350px;*/
	/*width: 48%;*/
}

.big_block_description {
	vertical-align: top;
	margin-top: 2%;
	margin-left: 1%;
	width:48%;
	height: 350px;
}

.big_block_image {
	background-image: url(ukraine.jpg);
	border-radius: 50%;
	height: 350px;
	-webkit-filter: grayscale(0.3);
  	filter: grayscale(0.5);
  	width:350px;
}

.big_block_image:hover {
	/*border-radius: 15px;*/
	cursor: hand;
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
  	/*width:48%;*/
}



.big_block_description h1{
  float: left;
  font: bold 100% Helvetica, sans-serif;
  font-size: 30px;
  padding: 5px;
  text-align: left;
  letter-spacing: -1px;
  color: teal;

}

.big_block_description p {
	display: table-cell;
	padding: 5px;
	padding-top: 15px;
	text-align: justify;
	font-family:Monda;
	/*color: maroon;*/
}

 .place_detail_info{
	display: inline-block;
	font: 12px/1.2 Helvetica, Arial, sans-serif;
	position: relative;
	text-align: left;
	bottom: 0;
  	font-size: 11px;
  	padding: 0px 13px;
  	opacity: 0.7;
}

.number_visits {
	background: transparent url(https://cdn2.iconfinder.com/data/icons/travel-pack-part-1/512/14-512.png) no-repeat 0 -2px;
	background-size: 17px 17px;
	display: inline-block;
	text-align: right;
	height: 20px;
	margin-left: 7px;
	padding: 0px 18px;
}

.place_detail_info:hover{
	opacity: 1;
	cursor: hand;
}
